Repository IADev-Channel/zuno: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, test

biome-check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

test:
  run: pnpm vitest run

refactor: Add biome-ignore comments to suppress `noExplicitAny` lint warnings in test files.
  packages/zuno/src/__tests__/core.test.ts
  packages/zuno/src/__tests__/sync.test.ts
Due: biome-check, test

refactor: Improve type safety by replacing `any` with `unknown` and adding Biome linting ignores for explicit `any` usage, alongside updating Node.js `http` imports to `node:http`.
  exercise/http-server/index.ts
  packages/zuno-elysia/src/__tests__/elysia.test.ts
  packages/zuno-elysia/src/index.ts
  packages/zuno-express/src/__tests__/express.test.ts
  packages/zuno-express/src/index.ts
  packages/zuno-react/src/__tests__/react.test.tsx
  packages/zuno-react/src/index.ts
  packages/zuno/src/__tests__/sync.test.ts
  packages/zuno/src/core/index.ts
  packages/zuno/src/server/snapshot-handler.ts
  packages/zuno/src/server/sse-handler.ts
  packages/zuno/src/sync/index.ts
Due: biome-check, test

docs: add `ARCHITECTURE.md` and `CONTRIBUTING.md` files, and update `README.md` to link them.
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
Due: none

feat: Add middleware for event logging and a highest-number-wins conflict resolution strategy.
  exercise/basic-html/script.ts
Due: biome-check, test

feat: Add a formal Code of Conduct and update `CONTRIBUTING.md` and `README.md` to reference it.
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

chore: Bump package version to 0.0.8.
  packages/zuno/package.json
Due: biome-check

chore: bump package versions for zuno-elysia, zuno-express, and zuno-react.
  packages/zuno-elysia/package.json
  packages/zuno-express/package.json
  packages/zuno-react/package.json
Due: biome-check

docs: Add documentation for conflict resolution strategies and the protocol truth table, and update README links.
  README.md
  docs/conflict-resolution.md
  docs/protocol-truth-table.md
Due: none

feat: add golden flow tests for Zuno covering offline queueing, conflict resolution, and middleware execution.
  packages/zuno/src/__tests__/golden.test.ts
Due: biome-check, test

Add a changelog file and link it in the README.
  CHANGELOG.md
  README.md
Due: none

feat: Introduce intent-based state management with reducers, enhance SSE synchronization, and add snapshot caching.
  exercise/basic-html/script.ts
  exercise/express/app.ts
  exercise/react/App.tsx
  exercise/react/logger.ts
  packages/zuno-elysia/src/index.ts
  packages/zuno-express/src/index.ts
  packages/zuno-react/src/index.ts
  packages/zuno/src/__tests__/intent.test.ts
  packages/zuno/src/__tests__/performance.test.ts
  packages/zuno/src/core/index.ts
  packages/zuno/src/index.ts
  packages/zuno/src/server/sse-handler.ts
  packages/zuno/src/shared/readable.ts
  packages/zuno/src/sync/index.ts
  packages/zuno/src/utils.ts
  vitest.config.mts
Due: biome-check, test

feat: introduce `@iadev93/zuno-angular` package with an example application.
  exercise/angular/index.html
  exercise/angular/package.json
  exercise/angular/src/app/app.component.ts
  exercise/angular/src/app/app.config.ts
  exercise/angular/src/main.ts
  exercise/angular/tsconfig.json
  exercise/angular/vite.config.mts
  package.json
  packages/zuno-angular/README.md
  packages/zuno-angular/package.json
  packages/zuno-angular/src/__tests__/angular.test.ts
  packages/zuno-angular/src/index.ts
  packages/zuno-angular/tsconfig.json
  packages/zuno-angular/tsup.config.ts
  pnpm-lock.yaml
Due: biome-check, test

feat: Implement Angular adapter, mutation batching, and custom equality, with fixes for Express ESM and Angular JIT.
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  packages/zuno-elysia/README.md
  packages/zuno-express/README.md
  packages/zuno-react/README.md
  packages/zuno/README.md
Due: none

chore: bump package versions across all packages.
  packages/zuno-elysia/package.json
  packages/zuno-express/package.json
  packages/zuno-react/package.json
  packages/zuno/package.json
Due: biome-check

feat: Implement todo list functionality and styling across Angular, React, and Basic HTML examples.
  exercise/angular/src/app/app.component.ts
  exercise/angular/src/main.ts
  exercise/angular/src/styles.css
  exercise/basic-html/index.html
  exercise/basic-html/script.ts
  exercise/basic-html/style.css
  exercise/react/App.css
  exercise/react/App.tsx
  exercise/react/package.json
  packages/zuno/src/__tests__/intent.test.ts
  packages/zuno/src/__tests__/performance.test.ts
  packages/zuno/src/shared/readable.ts
  packages/zuno/src/utils.ts
  pnpm-lock.yaml
Due: biome-check, test

refactor: improve type safety by replacing with and more specific types, and clean up unused imports and comments.
  packages/zuno-angular/src/__tests__/angular.test.ts
  packages/zuno-angular/src/index.ts
  packages/zuno-express/src/index.ts
  packages/zuno/src/__tests__/golden.test.ts
  packages/zuno/src/__tests__/intent.test.ts
  packages/zuno/src/core/index.ts
Due: biome-check, test

feat: Implement todo list functionality and styling across Angular, React, and Basic HTML examples.
  exercise/angular/src/app/app.config.ts
  exercise/basic-html/script.ts
  exercise/react/App.tsx
  packages/zuno-angular/src/__tests__/angular.test.ts
  packages/zuno-express/src/index.ts
  packages/zuno/src/__tests__/intent.test.ts
  packages/zuno/src/__tests__/performance.test.ts
  packages/zuno/src/core/index.ts
Due: biome-check, test

fix: harden synchronization and verification
  .github/workflows/verify.yml
  biome.json
  exercise/angular/package.json
  exercise/angular/src/app/app.config.ts
  exercise/angular/src/styles.css
  exercise/basic-html/index.html
  package.json
  packages/zuno-angular/package.json
  packages/zuno-angular/src/index.ts
  packages/zuno/src/__tests__/core.test.ts
  packages/zuno/src/__tests__/golden.test.ts
  packages/zuno/src/core/index.ts
  pnpm-lock.yaml
Due: biome-check, test

chore: release zuno packages
  CHANGELOG.md
  packages/zuno-angular/package.json
  packages/zuno-elysia/package.json
  packages/zuno-express/package.json
  packages/zuno-react/package.json
  packages/zuno/package.json
Due: biome-check

feat: isolate and validate server state
  CHANGELOG.md
  README.md
  ROADMAP.md
  exercise/elysia/app.ts
  exercise/express/app.ts
  packages/zuno-elysia/README.md
  packages/zuno-elysia/package.json
  packages/zuno-elysia/src/__tests__/elysia.test.ts
  packages/zuno-elysia/src/index.ts
  packages/zuno-express/README.md
  packages/zuno-express/package.json
  packages/zuno-express/src/__tests__/express.test.ts
  packages/zuno-express/src/index.ts
  packages/zuno/README.md
  packages/zuno/package.json
  packages/zuno/src/__tests__/server.test.ts
  packages/zuno/src/server/apply-state-event.ts
  packages/zuno/src/server/core.ts
  packages/zuno/src/server/snapshot-handler.ts
  packages/zuno/src/server/sse-handler.ts
Due: biome-check, test

feat: harden SSE replay and retry handling
  README.md
  ROADMAP.md
  exercise/README.md
  exercise/elysia/app.ts
  packages/zuno-elysia/package.json
  packages/zuno-elysia/src/index.ts
  packages/zuno/README.md
  packages/zuno/package.json
  packages/zuno/src/__tests__/server.test.ts
  packages/zuno/src/__tests__/sync.test.ts
  packages/zuno/src/core/index.ts
  packages/zuno/src/server/core.ts
  packages/zuno/src/server/sse-handler.ts
  packages/zuno/src/sync/index.ts
Due: biome-check, test

docs: record replay resilience release
  ARCHITECTURE.md
  CHANGELOG.md
  ROADMAP.md
  docs/conflict-resolution.md
  docs/protocol-v1.md
  packages/zuno-elysia/README.md
  packages/zuno-express/README.md
  packages/zuno/README.md
Due: none

ci: build packages before tests
  package.json
Due: biome-check

chore: update stable dependencies
  biome.json
  exercise/elysia/package.json
  exercise/express/package.json
  exercise/http-server/package.json
  exercise/react/package.json
  package.json
  packages/zuno-elysia/package.json
  packages/zuno-react/package.json
  pnpm-lock.yaml
Due: biome-check

feat: add durable offline queue
  ARCHITECTURE.md
  CHANGELOG.md
  ROADMAP.md
  docs/protocol-v1.md
  exercise/README.md
  exercise/angular/src/app/app.config.ts
  exercise/basic-html/script.ts
  exercise/react/App.tsx
  exercise/react/package.json
  package.json
  packages/zuno/README.md
  packages/zuno/package.json
  packages/zuno/src/__tests__/server.test.ts
  packages/zuno/src/__tests__/sync.test.ts
  packages/zuno/src/core/index.ts
  packages/zuno/src/sync/index.ts
  packages/zuno/src/sync/offline-queue.ts
  pnpm-lock.yaml
Due: biome-check, test

feat: add authoritative server persistence
  .gitignore
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  ROADMAP.md
  docs/server-persistence.md
  exercise/README.md
  exercise/angular/README.md
  exercise/basic-html/README.md
  exercise/elysia/README.md
  exercise/elysia/app.ts
  exercise/elysia/package.json
  exercise/express/README.md
  exercise/express/app.ts
  exercise/express/package.json
  exercise/http-server/README.md
  exercise/react/README.md
  packages/zuno/README.md
  packages/zuno/src/__tests__/server.test.ts
  packages/zuno/src/server/apply-state-event.ts
  packages/zuno/src/server/core.ts
  packages/zuno/src/server/event-bus.ts
  packages/zuno/src/server/file-persistence.ts
  packages/zuno/src/server/index.ts
  packages/zuno/src/server/persistence.ts
Due: biome-check, test

chore: release zuno 0.0.14
  CHANGELOG.md
  ROADMAP.md
  packages/zuno/package.json
Due: biome-check

feat: automate package releases
  .changeset/README.md
  .changeset/clean-package-consumers.md
  .changeset/config.json
  .github/workflows/release.yml
  .github/workflows/verify.yml
  ROADMAP.md
  exercise/angular/package.json
  exercise/basic-html/package.json
  exercise/elysia/package.json
  exercise/express/package.json
  exercise/http-server/package.json
  exercise/react/package.json
  fixtures/commonjs/index.cjs
  fixtures/commonjs/package.json
  fixtures/esm/index.js
  fixtures/esm/package.json
  package.json
  packages/zuno-angular/package.json
  packages/zuno-elysia/package.json
  packages/zuno-express/package.json
  packages/zuno-react/package.json
  packages/zuno/package.json
  pnpm-lock.yaml
  scripts/verify-packed-packages.mjs
Due: biome-check

fix: test maintained Node runtimes
  .changeset/clean-package-consumers.md
  .github/workflows/verify.yml
  packages/zuno-angular/package.json
  packages/zuno-elysia/package.json
  packages/zuno-express/package.json
  packages/zuno-react/package.json
  packages/zuno/package.json
Due: biome-check

chore: release packages
  .changeset/clean-package-consumers.md
  ROADMAP.md
  packages/zuno-angular/CHANGELOG.md
  packages/zuno-angular/package.json
  packages/zuno-elysia/CHANGELOG.md
  packages/zuno-elysia/package.json
  packages/zuno-express/CHANGELOG.md
  packages/zuno-express/package.json
  packages/zuno-react/CHANGELOG.md
  packages/zuno-react/package.json
  packages/zuno/CHANGELOG.md
  packages/zuno/package.json
Due: biome-check

chore: complete milestone 7 upgrades
  ROADMAP.md
  docs/compatibility.md
  exercise/angular/package.json
  exercise/express/package.json
  exercise/http-server/package.json
  package.json
  packages/zuno-angular/package.json
  packages/zuno-angular/src/__tests__/angular.test.ts
  packages/zuno-elysia/package.json
  packages/zuno-express/package.json
  packages/zuno-react/package.json
  packages/zuno/package.json
  packages/zuno/src/server/server-transport.ts
  packages/zuno/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: biome-check, test

chore: version milestone 7 packages
  CHANGELOG.md
  ROADMAP.md
  packages/zuno-angular/CHANGELOG.md
  packages/zuno-angular/package.json
  packages/zuno-elysia/CHANGELOG.md
  packages/zuno-elysia/package.json
  packages/zuno-express/CHANGELOG.md
  packages/zuno-express/package.json
  packages/zuno-react/CHANGELOG.md
  packages/zuno-react/package.json
  packages/zuno/CHANGELOG.md
  packages/zuno/package.json
Due: biome-check

feat: complete milestone 8 product readiness
  .changeset/observable-operations.md
  ARCHITECTURE.md
  README.md
  ROADMAP.md
  SECURITY.md
  SUPPORT.md
  docs/benchmarks.md
  docs/conflict-resolution.md
  docs/operations.md
  docs/protocol-truth-table.md
  docs/protocol-v1.md
  docs/why-zuno.md
  exercise/README.md
  exercise/angular/src/app/app.component.ts
  exercise/angular/src/styles.css
  exercise/basic-html/index.html
  exercise/basic-html/script.ts
  exercise/basic-html/style.css
  exercise/react/App.css
  exercise/react/App.tsx
  exercise/react/tsconfig.json
  package.json
  packages/zuno-angular/src/index.ts
  packages/zuno-react/src/index.ts
  packages/zuno/README.md
  packages/zuno/src/__tests__/core.test.ts
  packages/zuno/src/__tests__/sync.test.ts
  packages/zuno/src/core/index.ts
  packages/zuno/src/index.ts
  packages/zuno/src/sync/index.ts
  scripts/benchmark.mjs
Due: biome-check, test

chore: version milestone 8 packages
  .changeset/observable-operations.md
  CHANGELOG.md
  ROADMAP.md
  packages/zuno-angular/CHANGELOG.md
  packages/zuno-angular/package.json
  packages/zuno-elysia/CHANGELOG.md
  packages/zuno-elysia/package.json
  packages/zuno-express/CHANGELOG.md
  packages/zuno-express/package.json
  packages/zuno-react/CHANGELOG.md
  packages/zuno-react/package.json
  packages/zuno/CHANGELOG.md
  packages/zuno/package.json
Due: biome-check

fix: build packages before native typecheck
  package.json
Due: biome-check

feat: define milestones for 200k connection scalability and update roadmap priorities
  ROADMAP.md
Due: none

ci: upgrade actions to Node 24 runtime
  .github/workflows/release.yml
  .github/workflows/verify.yml
Due: none

feat: add partition-aware subscription registry
  packages/zuno/src/server/subscriptions.ts
Due: biome-check, test

feat: define subscription and partition protocol types
  packages/zuno/src/sync/subscriptions.ts
Due: biome-check, test

fix: import subscription protocol directly
  packages/zuno/src/server/subscriptions.ts
Due: biome-check, test

Path conditions:
  biome-check: any of: *.{js,ts,jsx,tsx,json,css}
  test: any of: *.{ts,tsx}
