Repository IADev-Channel/zuno: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, test

lefthook.yml:

# lefthook.yml
pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,jsx,tsx,json,css}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    
    test:
      glob: "*.{ts,tsx}"
      # Run only related tests? Or full suite?
      # For now, run full suite to be safe, but it might be slow.
      # User said "runs biome and vitest".
      run: pnpm vitest run

# post-merge:
#   commands:
#     packages:
#       run: pnpm install

test: cover async persistence compatibility boundary
  packages/zuno/src/__tests__/async-persistence.test.ts
Due: biome-check, test

feat: add async durable authority orchestration
  packages/zuno/src/server/async-core.ts
Due: biome-check, test

feat: export async server authority
  packages/zuno/src/server/index.ts
Due: biome-check, test

test: verify async authority orchestration
  packages/zuno/src/__tests__/async-persistence.test.ts
Due: biome-check, test

docs: record Monday async persistence implementation
  docs/sprints/postgresql-2026-09-13.md
Due: none

feat: add PostgreSQL persistence foundation
  packages/zuno/src/server/postgres-persistence.ts
Due: biome-check, test

feat: export PostgreSQL persistence adapter
  packages/zuno/src/server/index.ts
Due: biome-check, test

feat: expose PostgreSQL persistence subpath
  packages/zuno/package.json
Due: biome-check

docs: record Tuesday PostgreSQL foundation
  docs/sprints/postgresql-2026-09-13.md
Due: none

fix: harden PostgreSQL CAS and replay concurrency
  packages/zuno/src/server/postgres-persistence.ts
Due: biome-check, test

docs: record Wednesday PostgreSQL concurrency hardening
  docs/sprints/postgresql-2026-09-13.md
Due: none

fix: harden PostgreSQL retention and bigint safety
  packages/zuno/src/server/postgres-persistence.ts
Due: biome-check, test

docs: record Thursday PostgreSQL hardening
  docs/sprints/postgresql-2026-09-13.md
Due: none

fix: build PostgreSQL server entrypoint
  packages/zuno/tsup.config.ts
Due: biome-check, test

docs: record Friday PostgreSQL package QA
  docs/sprints/postgresql-2026-09-13.md
Due: none

docs: record Saturday PostgreSQL release gate
  docs/sprints/postgresql-2026-09-13.md
Due: none

docs: plan PostgreSQL package extraction sprint
  docs/sprints/postgresql-package-2026-09-20.md
Due: none

feat(postgresql): extract adapter implementation package
  packages/zuno-postgresql/src/index.ts
Due: biome-check, test

chore(postgresql): add standalone package metadata
  packages/zuno-postgresql/package.json
Due: biome-check

chore(postgresql): add TypeScript package config
  packages/zuno-postgresql/tsconfig.json
Due: biome-check

chore(postgresql): add standalone build config
  packages/zuno-postgresql/tsup.config.ts
Due: biome-check, test

refactor(core): remove PostgreSQL implementation export
  packages/zuno/src/server/index.ts
Due: biome-check, test

refactor(core): remove PostgreSQL package surface
  packages/zuno/package.json
Due: biome-check

refactor(core): remove PostgreSQL build entry
  packages/zuno/tsup.config.ts
Due: biome-check, test

refactor(core): move PostgreSQL implementation to adapter package
  packages/zuno/src/server/postgres-persistence.ts
Due: biome-check, test

docs: record PostgreSQL extraction and executive learning
  docs/sprints/postgresql-package-2026-09-20.md
Due: none

docs: define PostgreSQL release-gate recovery
  docs/sprints/postgresql-release-gates-2026-09-24.md
Due: none
