Repository IADev-Channel/zuno: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, test

biome-check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again

test:
  run: pnpm vitest run

feat: export subscription registry
  packages/zuno/src/server/index.ts
Due: biome-check, test

feat: export subscription protocol
  packages/zuno/src/index.ts
Due: biome-check, test

feat: complete subscription protocol contracts
  packages/zuno/src/sync/subscriptions.ts
Due: biome-check, test

feat: scope server delivery by partition and topic
  packages/zuno/src/server/core.ts
Due: biome-check, test

feat: enforce scoped mutation authorization
  packages/zuno/src/server/apply-state-event.ts
Due: biome-check, test

feat: add authorized scoped SSE replay and snapshots
  packages/zuno/src/server/sse-handler.ts
Due: biome-check, test

test: cover milestone 9 subscription isolation
  packages/zuno/src/__tests__/subscriptions.test.ts
Due: biome-check, test

docs: mark milestone 9 complete
  ROADMAP.md
Due: none

refactor: standardize code formatting and improve indentation across sync and server modules
  packages/zuno/src/__tests__/subscriptions.test.ts
  packages/zuno/src/server/apply-state-event.ts
  packages/zuno/src/server/core.ts
  packages/zuno/src/server/sse-handler.ts
  packages/zuno/src/server/subscriptions.ts
  packages/zuno/src/sync/index.ts
  packages/zuno/src/sync/subscriptions.ts
Due: biome-check, test

feat: complete milestone 10 durable authority
  ROADMAP.md
  docs/durable-authority.md
  packages/zuno/src/__tests__/milestone-10.test.ts
  packages/zuno/src/server/apply-state-event.ts
  packages/zuno/src/server/core.ts
  packages/zuno/src/server/event-bus.ts
  packages/zuno/src/server/file-persistence.ts
  packages/zuno/src/server/index.ts
  packages/zuno/src/server/persistence.ts
  packages/zuno/src/server/sqlite-persistence.ts
  packages/zuno/src/sync/index.ts
Due: biome-check, test

fix: isolate SQLite adapter from Bun server entry
  docs/durable-authority.md
  packages/zuno/package.json
  packages/zuno/src/__tests__/milestone-10.test.ts
  packages/zuno/src/server/index.ts
  packages/zuno/tsup.config.ts
Due: biome-check, test

docs: demonstrate SQLite persistence in Node exercises
  exercise/README.md
  exercise/express/README.md
  exercise/express/app.ts
  exercise/http-server/README.md
  exercise/http-server/index.ts
Due: biome-check, test

fix: create SQLite persistence directories
  packages/zuno/src/__tests__/milestone-10.test.ts
  packages/zuno/src/server/sqlite-persistence.ts
Due: biome-check, test

refactor: centralize exercise server configuration
  exercise/README.md
  exercise/angular/src/app/app.config.ts
  exercise/basic-html/script.ts
  exercise/config.ts
  exercise/elysia/app.ts
  exercise/express/app.ts
  exercise/http-server/index.ts
  exercise/react/App.tsx
Due: biome-check, test

docs: explain shared exercise server URL
  exercise/angular/README.md
  exercise/basic-html/README.md
  exercise/react/README.md
Due: none

docs: document milestone 10 durable authority
  ARCHITECTURE.md
  CHANGELOG.md
  README.md
  ROADMAP.md
  docs/benchmarks.md
  docs/compatibility.md
  docs/durable-authority.md
  docs/operations.md
  docs/server-persistence.md
  exercise/README.md
  exercise/angular/README.md
  exercise/basic-html/README.md
  exercise/elysia/README.md
  exercise/react/README.md
  packages/zuno/README.md
Due: none

chore: release packages
  packages/zuno-angular/CHANGELOG.md
  packages/zuno-angular/package.json
  packages/zuno-elysia/CHANGELOG.md
  packages/zuno-elysia/package.json
  packages/zuno-express/CHANGELOG.md
  packages/zuno-express/package.json
  packages/zuno-react/CHANGELOG.md
  packages/zuno-react/package.json
  packages/zuno/CHANGELOG.md
  packages/zuno/package.json
Due: biome-check

feat: add milestone 11 connection gateways
  .changeset/gentle-gateways-connect.md
  README.md
  ROADMAP.md
  docs/connection-gateways.md
  packages/zuno-elysia/src/index.ts
  packages/zuno-express/src/index.ts
  packages/zuno/src/__tests__/milestone-11.test.ts
  packages/zuno/src/__tests__/sync.test.ts
  packages/zuno/src/server/connection-gateway.ts
  packages/zuno/src/server/core.ts
  packages/zuno/src/server/index.ts
  packages/zuno/src/server/sse-handler.ts
  packages/zuno/src/sync/index.ts
Due: biome-check, test

fix: treat SSE state as authoritative
  ROADMAP.md
  packages/zuno/src/__tests__/sync.test.ts
  packages/zuno/src/sync/index.ts
Due: biome-check, test

fix: detect merged release pull requests
  .github/workflows/release.yml
Due: none

docs: finalize milestone 11 release guidance
  ARCHITECTURE.md
  CHANGELOG.md
  ROADMAP.md
  docs/protocol-v1.md
  exercise/README.md
  packages/zuno-elysia/README.md
  packages/zuno-express/README.md
  packages/zuno/README.md
Due: none

feat: complete milestone 12 traffic efficiency
  .changeset/quiet-streams-share.md
  README.md
  ROADMAP.md
  docs/traffic-efficiency.md
  packages/zuno-elysia/README.md
  packages/zuno-elysia/src/index.ts
  packages/zuno-express/README.md
  packages/zuno-express/src/index.ts
  packages/zuno/README.md
  packages/zuno/src/__tests__/milestone-12.test.ts
  packages/zuno/src/core/index.ts
  packages/zuno/src/server/apply-state-event-batch.ts
  packages/zuno/src/server/apply-state-event.ts
  packages/zuno/src/server/connection-gateway.ts
  packages/zuno/src/server/index.ts
  packages/zuno/src/server/sse-handler.ts
  packages/zuno/src/server/websocket-handler.ts
  packages/zuno/src/sync/index.ts
  packages/zuno/src/sync/payload.ts
  packages/zuno/src/sync/websocket.ts
Due: biome-check, test

fix: keep cross-tab snapshots authoritative
  ROADMAP.md
  packages/zuno/src/__tests__/milestone-12.test.ts
  packages/zuno/src/core/index.ts
  packages/zuno/src/sync/index.ts
Due: biome-check, test

docs: explain authoritative cross-tab sync
  .changeset/quiet-streams-share.md
  ROADMAP.md
  docs/traffic-efficiency.md
  packages/zuno/README.md
Due: none

chore: release milestone 12 packages
  .changeset/quiet-streams-share.md
  ROADMAP.md
  packages/zuno-angular/CHANGELOG.md
  packages/zuno-angular/package.json
  packages/zuno-elysia/CHANGELOG.md
  packages/zuno-elysia/package.json
  packages/zuno-express/CHANGELOG.md
  packages/zuno-express/package.json
  packages/zuno-react/CHANGELOG.md
  packages/zuno-react/package.json
  packages/zuno/CHANGELOG.md
  packages/zuno/package.json
Due: biome-check

feat: add milestone 13 capacity harness
  .changeset/brave-loaders-measure.md
  .github/workflows/capacity.yml
  README.md
  ROADMAP.md
  benchmarks/profiles/200k-gateway.json
  benchmarks/profiles/smoke.json
  docs/benchmarks.md
  docs/capacity-validation.md
  package.json
  packages/zuno/src/__tests__/capacity-harness.test.ts
  scripts/capacity/aggregate.mjs
  scripts/capacity/lib.d.mts
  scripts/capacity/lib.mjs
  scripts/capacity/run.mjs
  scripts/capacity/smoke.mjs
Due: biome-check, test

docs: finalize milestone 13 capacity policy
  .changeset/brave-loaders-measure.md
  ROADMAP.md
  SUPPORT.md
  docs/capacity-validation.md
Due: none

docs: add capacity testing runbook
  README.md
  SUPPORT.md
  docs/capacity-testing-runbook.md
  docs/capacity-validation.md
Due: none

chore: release packages
  .changeset/brave-loaders-measure.md
  ROADMAP.md
  packages/zuno-angular/CHANGELOG.md
  packages/zuno-angular/package.json
  packages/zuno-elysia/CHANGELOG.md
  packages/zuno-elysia/package.json
  packages/zuno-express/CHANGELOG.md
  packages/zuno-express/package.json
  packages/zuno-react/CHANGELOG.md
  packages/zuno-react/package.json
  packages/zuno/CHANGELOG.md
  packages/zuno/package.json
Due: biome-check

docs: plan PostgreSQL adapter sprint
  docs/sprints/postgres-adapter-2026-09-06.md
Due: none

docs: record PostgreSQL Monday contract assessment
  docs/sprints/postgres-adapter-2026-09-06.md
Due: none

docs: finalize PostgreSQL async persistence assessment
  docs/sprints/postgres-adapter-2026-09-06.md
Due: none

docs: specify async persistence prerequisite for postgres
  docs/sprints/postgres-adapter-2026-09-06.md
Due: none

docs: complete Thursday PostgreSQL adapter design checkpoint
  docs/sprints/postgres-adapter-2026-09-06.md
Due: none

docs: complete Friday PostgreSQL adapter QA review
  docs/sprints/postgres-adapter-2026-09-06.md
Due: none

docs: close blocked PostgreSQL adapter sprint
  docs/sprints/postgres-adapter-2026-09-06.md
Due: none

docs: record async persistence prerequisite for PostgreSQL
  ROADMAP.md
Due: none

docs: plan PostgreSQL adapter implementation sprint
  docs/sprints/postgresql-2026-09-13.md
Due: none

feat: add async server persistence contract
  packages/zuno/src/server/async-persistence.ts
Due: biome-check, test

feat: export async persistence contract
  packages/zuno/src/server/index.ts
Due: biome-check, test

Path conditions:
  biome-check: any of: *.{js,ts,jsx,tsx,json,css}
  test: any of: *.{ts,tsx}
